<h1>Details</h1>

<p>Title - <%= @task[:title] %></p>
<p>Details - <%= @task[:details] %></p>
<p>Completed - <%= @task[:completed] %></p>

<%= link_to "Go Back", tasks_path %>
<%= link_to "Edit task", edit_task_path %>
<%= link_to "Delete task", task_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
